 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

@mixin inputs {
  background-color: white;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 49.5%;
  height: 36px;
  display: inline-block;
  outline: none;
}

// Page ===============================

* {
  button {
    outline: none;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: HSLA(0, 0%, 90%, 1);
}

.full {
  margin: 0px 10%;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  form {
    margin: 15px 0;
  }
}

// Stars ===============================

#rating {
    float:left;
    padding: 0 0 0 5px;
}

#rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

#rating:not(:checked) > label {
    float:right;
    width:1.2em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:HSLA(0, 0%, 90%, 1);
}

#rating:not(:checked) > label:before {
    content: '★ ';
}

#rating > input:checked ~ label {
    color: HSLA(51, 100%, 50%, .5);
}

#rating:not(:checked) > label:hover,
#rating:not(:checked) > label:hover ~ label {
    color: HSLA(51, 100%, 50%, .5);
}

#rating > input:checked + label:hover,
#rating > input:checked + label:hover ~ label,
#rating > input:checked ~ label:hover,
#rating > input:checked ~ label:hover ~ label,
#rating > label:hover ~ input:checked ~ label {
    color: HSLA(51, 100%, 50%, 1);
}

#rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

// Add Movie button ====================

#addMovieBtn {
  margin: 24px 0 0 20px;
}

// Form setup ==========================

#addMovie {
  input {
    width: 49.5%;
    display: inline-block;
  }
}

#movie_genre {
  @include inputs;
  float: right;
}

#movie_comments {
  @include inputs;
  float: right;
}

//Buttons for Edit View =================

.edit_btns {
  text-align: center;
}

#delete {
  background-color: hsla(349,100%,43%,.7);
  &:hover {
    background-color: hsla(349,100%,43%,1);
  }
}

#trailerbtn {
  background-color: HSLA(135, 64%, 49%, .7);
  &:hover {
    background-color: HSLA(135, 64%, 49%, 1);
  }
}

.view_trailer {
  -webkit-font-smoothing: antialiased;
  color: white;
  &:hover {
    color: white;
  }
}

// #movieList {
//   @include clearfix;
//
// }

#update_trailer {
  display: none;
}

// Bitters SASS for Form =================

.card {
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5);
  $card-stats-color: lighten($base-accent-color, 10);

  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  margin-bottom: $base-spacing;
  cursor: pointer;
  box-shadow: 0 2px 4px darken($base-background-color, 10);
  position: relative;

  @include media($large-screen) {
    @include span-columns(4);
    @include omega(3n);
  }

  .ribbon-wrapper {
    $ribbon-size: 85px;
    $ribbon-background: $base-accent-color;
    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;

    .ribbon {
      font-size: .8em;
      font-weight: 800;
      text-align: center;
      @include transform(rotate(45deg));
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: $ribbon-background;
      color: white;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    padding: $base-spacing/3 $gutter/2;
  }

  .card-copy {
    padding: $base-spacing/2 $gutter/2;
    font-size: .9em;
    line-height: 1.5em;
  }

  .card-stats {
    padding: $base-spacing/2 $gutter/2;
    overflow: auto;
  }

  &:hover {
    background-color: $card-hover-background;

    .card-image img {
      background: $card-image-hover-background;
    }

    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
